a {
  padding: 25px;
  text-align: center;
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  text-decoration: none;
  color: black;
}

a:hover {
  color: rgb(14, 185, 177);
}

.menu {
  padding: 50px;
}
